@import '../../_sass/abstracts/';

.story00 {
	position: relative;
	width: 100vw;
	height: 100vh;
	&__wrapper {
		position: absolute;
		display: flex;
		flex-direction: column;
		top: 4vh;
		margin-left: 18vw;
		align-items: center;
		h1 {
			font-size: 24px;
			color: $color-brown;
		}
		&-turn {
			width: 278px;
			height: 188px;
			padding-top: 10vh;
			padding-left: 10vw;
		}
	}
	&__tree {
		position: absolute;
		bottom: 0;
		width: 900px;
		height: 674px;
	}
	&__arrow {
		position: absolute;
		top: 50vh; 
		right: 0;
		padding: 0 130px;
		width: 272px;
		height: 128px;
		}
}
.story01 {
	position: relative;
	width: 100vw;
	height: 100vh;
	h1 {
		position: absolute;
		margin: 0;
		top: 20vh;
		left: 7vw;
		font-size: 28px;
		color: $color-brown;
	}
	&__sun {
		position: absolute;
		right: 0;
		width: 281px;
		height: 272px;
	}
	&__bird {
		position: absolute;
		right: 0;
		padding: 80px 60px;
		width: 320px;
		height: 186px;
	}
	&__tree {
		position: absolute;
		bottom: 0;
		width: 900px;
		height: 674px;
	}
	&__wrapper {
		position: absolute;
		top: 40vh; 
		right: 6vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		h2 {
			margin: 0;
			font-size: 24px;
			color: $color-brown;
		}
		&-arrow {
			width: 272px;
			height: 128px;
		}
	}
}
.story02 {
	position: relative;
	width: 100vw;
	height: 100vh;
	&__sun {
		position: absolute;
		right: 0;
		width: 281px;
		height: 272px;
	}
	&__bird {
		position: absolute;
		right: 0;
		padding: 80px 60px;
		width: 320px;
		height: 186px;
	}
	&__tree {
		position: absolute;
		height: 100vh;
		max-width: 80vw;
	}
	&__snuitertje {
		position: absolute;
		bottom: 0;
		left: 26%;
		width: 240px;
		height: 366px;
		padding-bottom: 40px;
	}
	&__text {
		position: absolute;
		right: 0;
		top: 75%;
		margin: 0;
		margin-top: -50px;
		padding: 0 60px;
		width: 400px;
		text-align: center;
		font-size: 24px;
		color: $color-brown;
	}
	&__score {
		position: absolute;
		right: 0;
		top: 90%;
		margin: 0;
		margin-top: -50px;
		padding: 0 240px;
		font-size: 40px;
		color: $color-brown;
	}
	&__game {
		position: absolute;
		width: 80vw;
		padding-left: 15vw;
		height: 100vh;
		&-element {}
	}
}
.story03 {
	position: relative;
	width: 100vw;
	height: 100vh;
	&__sun {
		position: absolute;
		right: 0;
		width: 281px;
		height: 272px;
	}
	&__bird {
		position: absolute;
		right: 0;
		padding: 80px 60px;
		width: 320px;
		height: 186px;
	}
	&__tree {
		position: absolute;
		height: 100vh;
		max-width: 80vw;
	}
	&__snuitertje {
		position: absolute;
		top: 1vh;
		left: 5vw;
		width: 240px;
		height: 366px;
	}
	&__doctor {
		position: absolute;
		bottom: 0;
		width: 430px;
		height: 512px;
	}
	&__text {
		position: absolute;
		top: 54vh; 
		right: 0;
		padding: 0 60px;
		font-size: 24px;
		text-align: center;
		color: $color-brown;
		width: 400px;
	}
}
.story04 {
	position: relative;
	width: 100vw;
	height: 100vh;
	&__dawn {
		position: absolute;
		width: 100vw;
		height: 100vh;
		background-color: black;
		z-index: 10;
	}
	&__sun {
		position: absolute;
		right: 0;
		width: 281px;
		height: 272px;
	}
	&__moon {
		position: absolute;
		left: 60%;
		width: 212px;
		height: 192px;
	}
	&__bird {
		position: absolute;
		right: 0;
		padding: 80px 60px;
		width: 320px;
		height: 186px;
	}
	&__tree {
		position: absolute;
		height: 100vh;
		max-width: 80vw;
	}
	&__snuitertje {
		position: absolute;
		top: 3vh;
		left: 5vw;
		width: 240px;
		height: 366px;
	}
	&__wrapper {
		position: absolute;
		top: 60vh; 
		right: 0;
		padding: 0 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 450px;
		font-size: 24px;
		color: $color-brown;
		
	}
	&__blanket{
		position: absolute;
		top: 20vh;
		left: 4vw;
		width: 267px;
		height: 139px;
	}
	&__arrow {
		position: absolute;
		top: 77vh; 
		right: 0;
		padding-right: 150px;
		width: 272px;
		height: 128px;
		z-index: 20;
		}
}
.story05 {
	position: relative;
	width: 100vw;
	height: 100vh;
	&__sun {
		position: absolute;
		right: 0;
		width: 281px;
		height: 272px;
	}
	&__bird {
		position: absolute;
		right: 0;
		padding: 80px 60px;
		width: 320px;
		height: 186px;
	}
	&__tree {
		position: absolute;
		height: 100vh;
		max-width: 80vw;

	}
	&__doctor {
		position: absolute;
		top: 0;
		left: 14vw;
		width: 240px;
		height: 366px;
	}
	&__snuitertje {
		position: absolute;
		bottom: 0;
		padding-bottom: 60px;
		left: 35vw;
		width: 240px;
		height: 366px;
		transform: scale(-1,1);		
	}
	&__kit {
		position: absolute;
		bottom: 10px;
		right: 40px;
		width: 372px;
		height: 390px;
	}
	&__text {
		position: absolute;
		top: 35%; 
		right: 0;
		margin-top: -100px;
		padding: 0 60px;
		font-size: 22px;
		text-align: center;
		color: $color-brown;
		width: 400px;
	}

	&__saw {
		position: absolute;
		bottom: 60px;
		right: 80px;
		width: 200px;
		height: 140px;
	}
	#dropzone5 {
		position: absolute;
		top: 60px;
		left: 100px;
		background-color: red;
		opacity: 0.1;
		width: 400px;
		height: 250px;
	}
}
.story06 {
	position: relative;
	width: 100vw;
	height: 100vh;
	&__sun {
		position: absolute;
		right: 0;
		width: 281px;
		height: 272px;
	}
	&__bird {
		position: absolute;
		right: 0;
		padding: 80px 60px;
		width: 320px;
		height: 186px;
	}
	&__tree {
		position: absolute;
		height: 100vh;
		max-width: 80vw;

	}
	&__snuitertje {
		position: absolute;
		bottom: 0;
		padding-bottom: 50px;
		left: 35%;
		width: 240px;
		height: 366px;
		transform: scale(-1,1);		
	}
	&__saw{
		position: absolute;
		left: 13vw;
		top: 11vh;
		width: 103px;
		height: 89px;
	}
	&__doctor {
		position: absolute;
		left: 18vw;
		top: 5vh;
		width: 240px;
		height: 366px;
	}
	&__kit {
		position: absolute;
		bottom: 0;
		bottom: 10px;
		right: 40px;
		width: 372px;
		height: 390px;
	}
	&__text {
		position: absolute;
		top: 45vh; 
		right: 0;
		padding: 0 60px;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 24px;
		color: $color-brown;
		width: 400px;
	}
	&__sickBranch {
		position: absolute;
		top: 0;
		left: 5vw;
		width: 320px;
		height: 260px;
	}
	#dropzone6 {
		position: absolute;
		bottom: 110px;
		left: 230px;
		background-color: red;
		opacity: 0.1;
		width: 400px;
		height: 210px;
	}
}
.story07{
	position: relative;
	width: 100vw;
	height: 100vh;
	&__sun {
		position: absolute;
		right: 0;
		width: 281px;
		height: 272px;
	}
	&__tree {
		position: absolute;
		height: 100vh;
		max-width: 80vw;
	}
	&__medicin {
		position: absolute;
		top: 29vh;
		left: 2vw;
		width: 22vw;
		height: 30vh;
	}
	&__plaster {
		position: absolute;
		width: 13vw;
		height: 14vh;
		left: 2vw;
	}
	&__doctor {
		position: absolute;
		top: 17vh;
		left: 22vw;
		width: 240px;
		height: 366px;
	}
	&__sickBranch {
		position: absolute;
		bottom: 0;
		left: 31vw;
		bottom: 10vh;
		width: 337px;
		height: 246px;
	}
	&__kit {
		position: absolute;
		bottom: 0;
		bottom: 4vh;
		right: 4vw;
		width: 372px;
		height: 390px;
	}
	&__saw{
		position: absolute;
		left: 31vw;
		bottom: 10vh;
		width: 103px;
		height: 89px;
	}
	&__text {
		position: absolute;
		margin: 0;
		top: 8vh; 
		right: 4vw;
		font-size: 22px;
		text-align: center;
		color: $color-brown;
		width: 30vw;
	}
	&__snuitertje {
		position: absolute;
		bottom: 3vh;
		left: 50vw; 
		width: 280px;
		height: 299px;
		transform: scale(-1,1);		
	}
	#dropzone7 {
		position: absolute;
		bottom: 0;
		background-color: red;
		opacity: 0.1;
		width: 280px;
		height: 310px;
	}	
}
.story08{
	position: relative;
	width: 100vw;
	height: 100vh;
	&__sun {
		position: absolute;
		right: 0;
		width: 281px;
		height: 272px;
	}
	&__bird {
		position: absolute;
		right: 0;
		padding: 80px 60px;
		width: 320px;
		height: 186px;
	}
	&__tree {
		position: absolute;
		height: 100vh;
		max-width: 80vw;
	}
	&__medicin {
		position: absolute;
		top: 29vh;
		left: 2vw;
		width: 22vw;
		height: 30vh;
	}
	&__plaster {
		position: absolute;
		width: 13vw;
		height: 14vh;
		left: 2vw;
	}
	&__sickBranch {
		position: absolute;
		bottom: 0;
		left: 31vw;
		bottom: 10vh;
		width: 337px;
		height: 246px;
	}
	&__stone{
		position: absolute;
		width: 41px;
		height: 35px;
		bottom: 25vh;
		right: 25vw;
		

	}
	&__jar{
		position: absolute;
		bottom: 8vh;
		right: 23vw;
		width: 128px;
		height: 166px;
	}
	&__doctor {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 359px;
		height: 512px;
	}
	
	&__text {
		position: absolute;
		margin: 0;
		top: 30vh; 
		right: 0;
		right: 6vw;
		font-size: 22px;
		text-align: center;
		color: $color-brown;
		width: 30vw;	
	}
	&__text2 {
		position: absolute;
		margin: 0;
		left: 15vw;
		bottom: 3vh;
		font-size: 22px;
		text-align: center;
		color: $color-brown;
		width: 30vw;
	}
	&__snuitertje {
		position: absolute;
		bottom: 13vh;
		left: 44vw;
		width: 240px;
		height: 366px;
	}
	#dropzone8 {
		position: absolute;
		bottom: 13vh;
		left: 44vw;
		background-color: red;
		opacity: 0.1;
		width: 200px;
		height: 350px;
	}	
}
.story09{
	position: relative;
	width: 100vw;
	height: 100vh;
	&__sun {
		position: absolute;
		right: 0;
		width: 281px;
		height: 272px;
	}
	&__bird {
		position: absolute;
		right: 0;
		padding: 80px 60px;
		width: 320px;
		height: 186px;
	}
	&__tree {
		position: absolute;
		height: 100vh;
		max-width: 80vw;
	}
	&__medicin {
		position: absolute;
		top: 29vh;
		left: 2vw;
		width: 22vw;
		height: 30vh;
	}
	&__plaster {
		position: absolute;
		width: 13vw;
		height: 14vh;
		left: 2vw;
	}	
	&__sickBranch {
		position: absolute;
		bottom: 0;
		left: 31vw;
		bottom: 10vh;
		width: 337px;
		height: 246px;
	}
	&__snuitertje {
		position: absolute;
		bottom: 10vh;
		right: 0;
		width: 40px;
		height: 326px;
	}
	&__text {
		position: absolute;
		margin: 0;
		top: 48vh; 
		right: 6vw;
		font-size: 22px;
		text-align: center;
		color: $color-brown;
		width: 25vw;	
}
}
.story10{
	position: relative;
	width: 100vw;
	height: 100vh;
	&__tree {
		position: absolute;
		height: 100vh;
		right: 0;
	}
	&__snuitertje {
		position: absolute;
		bottom: 5vh;
		right: 19vw;
		height: 366px;
	}
	&__owl {
		position: absolute;
		top: 16vh;
		left: 6vw;
		width: 225px;
		height: 361px;
	}
	&__text {
		position: absolute;
		margin: 0;
		top: 4vh; 
		left: 11vw;
		font-size: 24px;
		text-align: center;
		color: $color-brown;
		width: 35vw;
	}
	&__text2 {
		position: absolute;
		top: 50vh; 
		left: 11vw;
		font-size: 24px;
		text-align: center;
		color: $color-brown;
		width: 50vw;
	}
	&__arrow {
		position: absolute;
		bottom: 8vh; 
		left: 15vw;
		width: 272px;
		height: 128px;
		}
}
.story11{
	position: relative;
	width: 100vw;
	height: 100vh;
	&__tree {
		position: absolute;
		height: 100vh;
		right: 0;
	}
	&__snuitertje {
		position: absolute;
		bottom: 8vh;
		left: 15vw;
		height: 366px;
	}	
	&__text {
		position: absolute;
		margin: 0;
		top: 12vh; 
		left: 6vw;
		font-size: 24px;
		text-align: center;
		color: $color-darkBrown;
		width: 35vw;
	}
}
.story12{
	position: relative;
	width: 100vw;
	height: 100vh;
	&__tree {
		position: absolute;
		height: 100vh;
		right: 0;
	}
	&__snuitertje {
		position: absolute;
		right: 40vw;
		top: 15vh;
		height: 263px;
		width: 209px;
	}
	&__sheep{
		position: absolute;
		right: 0;
		width: 840px;
		height: 560px;
	}
	&__text {
		position: absolute;
		margin: 0;
		top: 11vh; 
		left: 5vw;
		font-size: 24px;
		text-align: center;
		color: $color-darkBrown;
		width: 35vw;
	}
	&__text2 {
		position: absolute;
		top: 30vh; 
		left: 5vw;
		font-size: 24px;
		text-align: center;
		color: $color-darkBrown;
		width: 30vw;
	}
}
.story13{
	position: relative;
	width: 100vw;
	height: 100vh;
	&__tree {
		position: absolute;
		height: 100vh;
		right: 0;
	}
	&__crown{
		position: absolute;	
		width: 164px;
		height: 106px;
		bottom: 12vh;
		left: 50vw;
	}
	&__sheep{
		position: absolute;
		right: 0;
		width: 840px;
		height: 560px;
	}
	&__text {
		position: absolute;
		margin: 0;
		top: 13vh; 
		left: 6vw;
		font-size: 24px;
		text-align: center;
		color: $color-darkBrown;
		width: 30vw;
	}
	&__snuitertje {
		position: absolute;
		bottom: 8vh;
		left: 10vw;
		height: 317px;
	}
	#dropzone13 {
		position: absolute;
		bottom: 8vh;
		left: 10vw;
		background-color: red;
		opacity: 0.1;
		width: 180px;
		height: 270px;
	}	
}
.story14{
	position: relative;
	width: 100vw;
	height: 100vh;
	&__bigStone {
		position: absolute;
		bottom: 30vh;
		right: 0;
		width: 722px;
		height: 396px;
	}
	&__snuitertje {
		position: absolute;
		top: 2vh;
		right: 15vw;
		height: 336px;
	}
	&__snuitertje2 {
		position: absolute;
		bottom: 0;
		right: 15vw;
		height: 336px;
		transform: rotate(180deg);  //nog aanpassen op ipad
		opacity: 50%;
	}
	&__stone{
		position: absolute;
		top: 13vh;
		left: 15vw;
		width: 646px;
		height: 514px;
	}
	&__text {
		position: absolute;
		margin: 0;
		top: 10vh; 
		left: 10vw;
		font-size: 24px;
		text-align: center;
		color: $color-brown;
		width: 35vw;
	}
}
.story15{
	position: relative;
	width: 100vw;
	height: 100vh;
	&__sun {
		position: absolute;
		right: 0;
		width: 281px;
		height: 272px;
	}
	&__tree {
		position: absolute;
		left: 15vw;
		top: 10vh;
		width: 689px;
		height: 687px;
	}
	&__snuitertje {
		position: absolute;
		top: 52vh;
		left: 38vw;
		height: 191px;
		width: 156px;
	}
	&__doctor {
		position: absolute;
		right: 0;
		top: 30vh;
		width: 100px;
		height: 149px;
	}
	&__text {
		position: absolute;
		margin: 0;
		bottom: 10vh; 
		right: 6vw;
		font-size: 24px;
		text-align: center;
		color: $color-brown;
		width: 35vw;
	}
}
.story16{
	position: relative;
	width: 100vw;
	height: 100vh;
	&__tree {
		position: absolute;
		height: 100vh;
		right: 0;
	}
	&__snuitertje {
		position: absolute;
		bottom: 7vh;
		left: 20vw;
		height: 366px;
	}
	&__magnifyingGlass{
		position: absolute;
		right: 8vw;
		top: 13vh;
		width: 215px;
		height: 210px;
	}
	&__doctor{
		transform: scale(-1,1);		
		width: 201px;
		height: 261px;
		padding-right: 900px;
		padding-top: 210px;	
	}
	&__text {
		position: absolute;
		margin: 0;
		top: 25vh; 
		left: 10vw;
		font-size: 24px;
		text-align: center;
		color: $color-darkBrown;
		width: 35vw;
	}
}
.story17{
	position: relative;
	width: 100vw;
	height: 100vh;
	&__tree {
		position: absolute;
		height: 100vh;
		right: 0;
	}
	&__snuitertje {
		position: absolute;
		bottom: 0;
		left: 0;
		padding-bottom: 30px;
		padding-left: 230px;
		height: 366px;
	}
	&__magnifyingGlass{
		position: absolute;
		right: 0;
		top: 0;
		padding-right: 65px;
		width: 318px;
		height: 350px;
	}
	&__doctor{
		transform: scale(-1,1);		
		width: 201px;
		height: 261px;
		padding-right: 900px;
		padding-top: 210px;
	}
	&__text {
		position: absolute;
		margin: 0;
		top: 25vh; 
		left: 8vw;
		font-size: 24px;
		text-align: center;
		color: $color-darkBrown;
		width: 35vw;
	}
}
.story18{
	position: relative;
	width: 100vw;
	height: 100vh;
	&__tree {
		position: absolute;
		height: 100vh;
		left: 0;
	}
	&__snuitertje {
		position: absolute;
		bottom: 8vh;
		right: 4vw;
		height: 366px;
		transform: scale(-1,1);		
	}
	&__jar{
		position: absolute;
		bottom: 10vh;
		right: 10vw;
		width: 128px;
		height: 166px;
	}
	&__text {
		position: absolute;
		margin: 0;
		top: 15vh; 
		right: 7vw;
		font-size: 24px;
		text-align: center;
		color: $color-darkBrown;
		width: 25vw;
	}
}
.story19{
	position: relative;
	width: 100vw;
	height: 100vh;
	&__tree {
		position: absolute;
		height: 100vh;
		right: 0;
	}
	&__snuitertje {
		position: absolute;
		bottom: 8vh;
		left: 17vw;
		height: 366px;
	}
	&__jar{
		position: absolute;
		left: 43vw;
		bottom: 10vh;
		width: 163px;
		height: 211px;
	}
	&__acornsRight {
		position: absolute;
		bottom: 11vh;
		right: 30vh;
		height: 177px;
	}
	&__acornsLeft {
		position: absolute;
		bottom: 3vh;
		left: 27vw;
		height: 177px;
	}
	&__text {
		position: absolute;
		margin: 0;
		top: 20vh; 
		left: 8vw;
		font-size: 24px;
		text-align: center;
		color: $color-darkBrown;
		width: 25vw;
	}
	&__acorn {
		position: absolute;
		bottom: 30vh;
		right: 17vw;
		height: 71px;
	}
	#dropzone19 {
		position: absolute;
		left: 43vw;
		bottom: 10vh;
		background-color: red;
		opacity: 0.1;
		width: 163px;
		height: 211px;
	}
}
.story20{
	position: relative;
	width: 100vw;
	height: 100vh;
	&__sun {
		position: absolute;
		right: 0;
		width: 281px;
		height: 272px;
	}
	&__tree {
		position: absolute;
		height: 90vh;
		right: 0;
	}
	&__sheepBunnny {
		position: absolute;
		bottom: 5vh;
		left: 10vw;
		height: 393px;
	}
	&__jar{
		position: absolute;
		bottom: 7vh;
		right: 6vw;
		width: 145px;
		height: 244px;
	}
	&__text {
		position: absolute;
		margin: 0;
		top: 15vh; 
		left: 4vw;
		font-size: 24px;
		text-align: center;
		color: $color-brown;
		width: 25vw;
	}
	&__text2 {
		position: absolute;
		right: 4vw;
		bottom: 30vh;
		font-size: 24px;
		text-align: center;
		color: $color-brown;
		width: 20vw;
	}
}
