@import '../../_sass/abstracts/';

.footer {

	&__progression {
		&-bar {
			background-image: linear-gradient(to right, #0F8182, #AED3E3);
			position: fixed;
			bottom: 0;
		}
		&-back {
			position: fixed;
			bottom: 0;
			width: 50px;
			height: 40px;
			padding-bottom: 20px;
			padding-left: 14px;
			z-index: 20;
		}
		&-next {
			position: fixed;
			bottom: 0;
			right: 0;
			width: 50px;
			height: 40px;
			padding-bottom: 20px;
			padding-right: 14px;
			z-index: 20;
		}
	}
	&__audioplayer {
		&-play {
			position: fixed;
			bottom: 0;
			left: 50%;
			margin-left: -30px;
			width: 60px;
			padding-bottom: 30px;
			z-index: 20;
		}
		&-pause {
			position: fixed;
			bottom: 0;
			left: 50%;
			margin-left: -30px;
			width: 60px;
			padding-bottom: 30px;
			z-index: 20;
		}
	}
}
