@import '../../_sass/abstracts/index';

.button {
	position: relative;
	height: 160px;
	width: 518px;
	&__text {
		width: 100%;
		text-align: center;
		padding-left: 20px;
		margin-top: 85px;
		position: absolute;
		z-index: 1000000;
		color: $color-textButton;
		font-size: 28px;
	}
	&__img {
		position: absolute;
	}
}
