@import '../../_sass/abstracts/';

.menu {
	position: relative;
	width: 100vw;
	height: 100vh;
	&__tree {
		position: absolute;
		bottom: 0;
		width: 900px;
		height: 674px;
	}
	&__wrapper {
		position: absolute;
		right: 5vw;
		top: 10vh;
	}
}
