@import '../../_sass/abstracts/';

.thoughts {
	width: 100%;

	&__main{
		height: 67vh;
		overflow: scroll;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		&-element{
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 300px;
			height: 300px;
			margin-left: 20px;
			background: url('../../assets/thoughts/balloon.png') no-repeat;
			background-position: center;
			background-size: contain;
			&-text{
				font-size: 20px;
				text-align: center;
				color: $color-brown;
				padding-right: 25px;

			}
			&-btn{
				position: absolute;
				color: $color-brown;
				font-size: 25px;
				top: 7%;
				right: 15%;
			}
		}
	}
	&__form{
		position: fixed;
		left: 50%;
		margin-left: -250px;
		bottom: 5%;
		display: flex;
		flex-direction: column;
		align-items: center;
		&-input{
			width: 40vw;
			height: 10vh;
			background-color: aliceblue;		
			border: solid 1.5px $color-brown;
			font-size: 22px;	
			padding-left: 20px;
		}	

		&-safe{
			padding-top: 20px;
				&-text {
					width: 100%;
					text-align: center;
					padding-left: 0;
					padding-top: 65px;
					position: absolute;
					z-index: 100000;
					color: $color-textButton;
					font-size: 28px;
				}

				&__img {
					position: absolute;
				}
		}
		
	}		
	&__delete{
		position: fixed;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
			transform: scale(0.5);		
			&-text {
				height: 48px;
				width: 100%;
				text-align: center;
				padding-left: 0;
				padding-top: 55px;
				// position: absolute;
				z-index: 100000;
				color: $color-textButton;
				font-size: 48px;
			}

			&-img {
				position: absolute;
			}
	}	
}

